

<div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Aptitude Tutorial:</h1>
        </div>
      </div><!--/.row-->
      
      <div class="row">
        <div class="col-md-6">
      
                <div>
                        <p>An aptitude test represents a sytematic way to judge a candidate's mental capability as how he/she performs certain tasks and reacts to different scenarios.  Each aptitude test uses a standard method of administration and scoring so that results can be computed and compared with the other candidates.</p>
                        <p>This tutorial will teach you basic concepts of aptitude like numerical computation ability, analytical abilities. The tutorial is divided into sections such as Number System, Basic Arithmetic, Decimals and so on. Each of these sections contain related topics with simple and useful examples.</p>
                </div>
      
        
      
        </div>
      
      </div>
      
          