<div class="row">
    <div class="col-lg-12"> 
     <h1 class="page-header">Student Evaluation Portal :</h1> <h5> Know your Skills by evaluation various Test.</h5> 
    </div>
</div> 

<!--/.row -->

<div class="row" >
        <div class="col-lg-12"> 
                <p>We assume you are well aware of English Language, which is a well-known <b>Human Interface Language</b>. English has a predefined grammar, which needs to be followed to write English statements in a correct way. Likewise, most of the Human Interface Languages (Hindi, English, Spanish, French, etc.) are made of several elements like verbs, nouns, adjectives, adverbs, propositions, and conjunctions, etc.</p>

                <p>Similar to Human Interface Languages, Computer Programming Languages are also made of several elements. We will take you through the basics of those elements and make you comfortable to use them in various programming languages. These basic elements include −</p>



                <p>We will explain all these elements in subsequent chapters with examples using different programming languages. First, we will try to understand the meaning of all these terms in general and then, we will see how these terms can be used in different programming languages.</p>



            </div>

    </div>
